#**
 *  Render a complex document in the results list
 *#

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap

## Title
#if($doc.getFieldValue('title_keyword'))
  #set($title = $esc.html($doc.getFirstValue('title_keyword')))
#else
  #set($title = "["+$doc.getFieldValue('id')+"]")
#end

## URL
#if($doc.getFieldValue('url'))
  #set($url = $doc.getFieldValue('url'))
#elseif($doc.getFieldValue('resourcename'))
  #set($url = "file:///$doc.getFieldValue('resourcename')")
#else
  #set($url = "$doc.getFieldValue('id')")
#end

## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))

## TODO: falling back to file extension is convenient,
## except when you don't have an icon for that extension
## example "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
## document with a .docx extension.
## It'd be nice to fall back to an "unknown" or the existing "file" type
## We sort of do this below, but only if the filename has no extension
## (anything after the last dot).

#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end

## #if(!$filetype)
##   #set($filetype = "file")
## #end
## #if(!$supportedMimeTypes.contains($filetype))
##   #set($filetype = "file")
## #end

## Row 1: Icon and Title and mlt link
<div class="result-title">
  ## Icon
  ## Small file type icons from http://www.splitbrain.org/projects/file_icons (public domain)
   #if($doc.getFieldValue('thumbnail_url'))
      <img src="#field('thumbnail_url')" align="center">
   #end

  ## Title, hyperlinked
  <a href='http://localhost:8983/solr/collection1/select?q=id:"${url}"' target="_blank">
    <b>$title</b></a>

  ## Link for MLT / More Like This / Find Similar
  <!--<span class="mlt">
    ##if($params.getBool('mlt', false) == false)
      <a href="#lensNoQ&q=id:%22$docId%22&mlt=true">
        More Like This</a>
    ##end
  </span> -->

</div>

## Row 2?: ID / URL
<div>
  Id: #field('id')
</div>

## Title
<div>
  #if($doc.getFieldValue('title_keyword'))
  #set($titles = $doc.getFieldValue('title_keyword'))
  <b>Title</b>:<div>
  #foreach($title_field in $titles)
      $title_field <br/>
     ##field('title_keyword')
  #end
  </div>
  #elseif($url)
    URL: $url
  #end
  #if($ct)
    ($ct)
  #end
</div>

## Author
#if($doc.getFieldValue('creator_keyword'))
  <div>
  #set($authors = $doc.getFieldValue('creator_keyword'))
    <b>Author</b>: ##field('creator_keyword')
    <div>
    #foreach($author in $authors)
      $author <br/>
    #end
    </div>
  </div>
#end

## Date
#if($doc.getFieldValue('date_keyword'))
  <div>
  #set($dates = $doc.getFieldValue('date_keyword'))
    <b>Date</b>:
    <div>
    ##field('date_keyword')
    #foreach($date in $dates)
     $date <br/>
    #end
    </div>
  </div>
#end

## Identifier
#if($doc.getFieldValue('identifier_keyword'))
  <div>
  #set($identifiers = $doc.getFieldValue('identifier_keyword'))
    <b>Identifier</b>:
    <div>
    ##field('identifier_keyword')
    #foreach($identifier in $identifiers)
     $identifier <br/>
    #end
  </div>
  </div>
#end

## Subject
#if($doc.getFieldValue('subject_keyword'))
<div>
  #set($subjects = $doc.getFieldValue('subject_keyword'))
    <b>Subject</b>:
    <div>
    ##field('subject_keyword')
    #foreach($subject in $subjects)
     $subject <br/>
    #end
  </div>
  </div>
#end


## Contributor
#if($doc.getFieldValue('contributor_keyword'))
<div>
  #set($contributors = $doc.getFieldValue('contributor_keyword'))
    <b>Contributor</b>:
    <div>
    ##field('contributor_keyword')
    #foreach($contributor in $contributors)
     $contributor <br/>
    #end
  </div>
  </div>
#end

## Publisher
#if($doc.getFieldValue('publisher_keyword'))
<div>
  #set($publishers = $doc.getFieldValue('publisher_keyword'))
    <b>Publisher</b>:
    <div>
    ##field('publisher_keyword')
    #foreach($publisher in $publishers)
     $publisher <br/>
    #end
  </div>
  </div>
#end


## Coverage
#if($doc.getFieldValue('coverage_keyword'))
<div>
  #set($coverages = $doc.getFieldValue('coverage_keyword'))
    <b>Coverage</b>:
    <div>
    ##field('coverage_keyword')
    #foreach($coverage in $coverages)
     $coverage <br/>
    #end
  </div>
  </div>
#end


## Type
#if($doc.getFieldValue('type_keyword'))
<div>
  #set($types = $doc.getFieldValue('type_keyword'))
    <b>Type</b>:
    <div>
    ##field('type_keyword')
    #foreach($type in $types)
     $type <br/>
    #end
  </div>
  </div>
#end


## Source
#if($doc.getFieldValue('source_keyword'))
<div>
  #set($sources = $doc.getFieldValue('source_keyword'))
    <b>Type</b>:
    <div>
    ##field('source_keyword')
    #foreach($source in $sources)
     $source <br/>
    #end
  </div>
  </div>
#end


## Relation
#if($doc.getFieldValue('relation_keyword'))
<div>
  #set($relations = $doc.getFieldValue('relation_keyword'))
    <b>Relation</b>:
    <div>
    ##field('relation_keyword')
    #foreach($relation in $relations)
     $relation <br/>
    #end
  </div>
  </div>
#end


## Format
#if($doc.getFieldValue('format_keyword'))
<div>
  #set($formats = $doc.getFieldValue('format_keyword'))
    <b>Format</b>:
    <div>
    ##field('format_keyword')
    #foreach($format in $formats)
     $format <br/>
    #end
  </div>
  </div>
#end


## Language
#if($doc.getFieldValue('language_keyword'))
<div>
  #set($languages = $doc.getFieldValue('language_keyword'))
    <b>Language</b>:
    <div>
    ##field('language_keyword')
    #foreach($language in $languages)
     $language <br/>
    #end
  </div>
  </div>
#end


## Description
#if($doc.getFieldValue('description_keyword'))
<div>
  #set($descriptions = $doc.getFieldValue('description_keyword'))
    <b>Abstract</b>:
    <div>
    ##field('description_keyword')
    #foreach($description in $descriptions)
     $description <br/>
    #end
  </div>
  </div>
#end



## Rights
#if($doc.getFieldValue('rights_keyword'))
<div>
  #set($rights = $doc.getFieldValue('rights_keyword'))
    <b>Rights</b>:
    <div>
    ##field('rights_keyword')
    #foreach($right in $rights)
     $right <br/>
    #end
  </div>
  </div>
#end



##  Institution
#if($doc.getFieldValue('institutionName'))
  <div>
    Institution:
    #field('institutionName')
  </div>
#end

## Collection
#if($doc.getFieldValue('collectionName'))
  <div>
    Collection:
    #field('collectionName')
  </div>
#end

## First_title
#if($doc.getFieldValue('first_title'))
  <div>
    Sort Title:
    #field('first_title')
  </div>
#end

## Decade
#if($doc.getFieldValue('decade'))
<div>
  #set($decades = $doc.getFieldValue('decade'))
    <b>Decade</b>:
    <div>
    ##field('decade')
    #foreach($decade in $decades)
     $decade <br/>
    #end
  </div>
  </div>
#end


## sort Decade
#if($doc.getFieldValue('sort_decade'))
  <div>
    Sort Decade:
    #field('sort_decade')
  </div>
#end



## Main content of doc
<div class="result-body">
  #field('content')
</div>

## Display Similar Documents / MLT = More Like This
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
  #if ($mltOn && $mlt && $mlt.size() > 0)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <a href="#url_for_home?q=id:$mltId">
              $mltId</a>
          </div>
          <div>
            <span class="field-name">
              Title:
            </span>
            $mltHit.getFieldValue('title')
          </div>
          <div>
            <span class="field-name">
              Author:
            </span>
            $mltHit.getFieldValue('author')
            <span class="field-name">
              Description:
            </span>
            $mltHit.getFieldValue('description')
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt

#parse('debug.vm')
